<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS AMAZING</h1>
    <h2><%= @user.username %> , you are now signed up</h2>
     To login to the site, just follow this link: <%= @url %>.
</body>
</html>