/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     width: 50%;
     margin: auto;
 }

 header {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 100px;
     display: flex;
     justify-content: center;
 }

 header a {
     text-decoration: none;
     color: black;
 }

 .login_content {
     display: flex;
     justify-content: flex-end;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 #submit_button {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
     background-color: #bdc3c7;
     padding: 5px;
     margin: 10px;
     border-radius: 10%;

 }

 .login_content a {
     background-color: #bdc3c7;
     font-size: 20px;
     padding: 5px;
     margin: 10px;
     border-radius: 10%;
     text-decoration: none;
     color: black;
 }

 .errors {
     display: flex;
     justify-content: center;
 }
