
#login_page h1 {
    display: flex;
    justify-content: center;
}

#login_page .email {
    display: flex;
    justify-content: center;
    padding: 3px;
}

#login_page .password {
    display: flex;
    justify-content: center;
    padding: 3px;
}

#login_page .submit {
    display: flex;
    justify-content: center;
    padding: 5px;
}

