
#signup_page h1 {
    display: flex;
    justify-content: center;
}

#signup_page .email {
    display: flex;
    justify-content: center;
    padding: 3px;
}

#signup_page .password {
    display: flex;
    justify-content: center;
    padding: 3px;
}

#signup_page .submit {
    display: flex;
    justify-content: center;
    padding: 5px;
}
